*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #f8f7f4;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: azure; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

#nav-part1{
    width: 30%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

#nav-part1>h4{
    font-size: 16px;
    font-weight: 800;
}

#nav>img{
    height: 38px;
    /* width: auto; */
}

#nav-part2{
    width: 30%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

#nav-part2>button:nth-child(1){
    color: black;
    background-color: transparent;
    font-size: 14px;
}

#nav-part2>button{
    padding: 15px 22px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    margin: 0 5px;
}

#content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: aquamarine; */
    padding-top: 80px;
    font-family: "Source Serif 4", Georgia, serif,"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
;
}

#content>h3{
    animation: bg-colour ease infinite 15s;
    padding: 10px 16px;
    width: fit-content;
    border-radius: 32px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}

@keyframes bg-colour {
    0%{
        background-color: #ffda79;
    }
    15%{
        background-color: #c4cc23a2;
    }
    30%{
        background-color: #ffc3b0;
    }
    45%{
        background-color: #e7b4ed;
    }
    60%{
        background-color: #d2bdf3;
    }
    75%{
        background-color: #f3ebb9;
    }
    90%{
        background-color: #ffd979cc;
    }
    100%{
        background-color: #ffda79;
    }
}

#content>h1{
    font-size: 72px;
    text-align: center;
    letter-spacing: -0.5px;
    padding-top: 40px;
    line-height: 76px;
}

#content>h4{
    padding-top: 24px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: normal;
    font-weight: 600;
}

#content>button{
    padding: 19px 24px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    margin: 32px 5px;
    /* text-align: center; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.elem {
    height: 350px;
    width: 100%;
    /* background-color: blanchedalmond; */
    padding: 20px 0;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.elem-slide {
    display: inline-block;
    /* background-color: burlywood; */
    cursor: pointer;
    animation: Scroll-Anime 17.9s infinite linear;
}

.elem:hover .elem-slide{
    animation-play-state: paused!important;
}

.elem-slide>img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin: 0 25px;
    border-radius: 35px;
}

.elem-slide>video{
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 0 20px;
    object-position: center;
    border-radius: 35px;
}

@keyframes Scroll-Anime {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
} 

#page-2{
    background-color: #f8f7f4;
    /* position: relative; */
    padding: 72px;
    padding-top: 42px;
}

#page-2 > h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}

.box{
    height: 237px;
    width: 316px;
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 12px;
    position: relative;
    transition: all ease 0.4s;
}

.box > img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.box-bottom {
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.69));
    position: absolute;
    bottom: -40%;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 7px;

}

.box:hover {
    scale: 1.1;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.box:hover > .box-bottom{
    bottom: 0%;
}

.box-bottom h1{
    font-size: 16px;
    color: white;
    /* padding-left: 20px; */
    /* padding-top: 45px; */
    display: inline-block;
}

.box-bottom >img{
    height: 38%;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

#page-3 {
    height: 100%;
    width: 100%;
    background: #ffda79;
    font-family: "Source Serif 4", Georgia, serif,
    "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#page-3>h1{
    text-align: center;
    font-size: 64px;
    padding-top: 120px;
    line-height: 72px;
    letter-spacing: -0.5px;
}

#page-3>p{
    padding-top: 24px;
    font-size: 21px;
    text-align: center;
    line-height: 36px;
    font-weight: 600;
}

#page-3>button{
    padding: 16px 24px;
    border-radius: 32px;
    border: none;
    font-size: 16px;
    line-height: 28px;
    font-weight: bolder;
    position: relative;
    left: 50%;
    transform:translateX(-120%); 
    margin: 27px 16px;
    background-color: black;
    color: white;
}

#page-3 > #button-2{ 
    background-color:white;
    color: black;
}

#page-3>h4{
    padding-top: 24px;
    text-align: center;
    font-size: 20px;
}

#page-3>h4>a{
    color: black;
}

#page-4{
    height: 70%;
    width: 100%;
}
#bottom-slider{
    height: 293px;
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 62px 35px;
    white-space: nowrap;
    overflow: hidden;
}

.slider-elem{
    display: inline-block;
    padding: 0 14px; 
}


@keyframes Scroll-anime {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-129.25%);
    }
} 
#slider-track{
    /* display: inline-block; */
    animation: Scroll-anime 25s infinite linear;
}

#slider-track:hover {
    animation-play-state: paused!important;
    
}
#slider-track img:hover {
    box-shadow: 1px 5px 40px rgba(0, 0, 0, 0.527);   
    scale: 1.1;
}

.slider-elem>h3{
    padding-top: 14px;
    font-size: 14px;
}

.slider-elem>img{
    border-radius: 12px;
    height: 150px;
    width: 200px;
    transition: all ease 0.4s!important;
}

