* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    position: relative;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

nav {
    width: 100%;
    /* height: 100px; */
    color: #F2613F;
    height: 12vh;
    /* background-color: aquamarine; */
    margin-top: 40px;
    border-top: 3px solid #481E14;
    border-bottom: 3px solid #481E14;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    /* background-color: beige; */
    height: 100%;
    width: 20%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    letter-spacing: -1px;
    position: relative;
}

nav h2 {
    /* background-color: beige; */
    font-size: 23px;
    font-weight: 500;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #481E14;
}

nav h2:nth-last-child(2) {
    width: 28%;
    /* background-color: red; */
    /* font-size: 27px; */
    /* padding-right: 13px; */
    /* justify-self: center; */
    /* border-right: 0px; */
}
nav h2:nth-last-child(1) {
    width: 10%;
    /* background-color: red; */
    font-size: 28px;
    padding-right: 6.5px;
    /* justify-self: center; */
    border-right: 0px;
    /* background-color: aqua; */
}

nav h3{
    display: none;
}

nav h1::after {
    content: "©️";
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    right: 12.5%;
    top: 29.5%;
}

nav h1::before {
    content: "model management";
    font-size: 9.5px;
    font-weight: 100;
    position: absolute;
    right: 19.2%;
    bottom: 27%;
    letter-spacing: 1px;
    font-family: gilroy;
}

#center {
    height: 80%;
    width: 100%;
    /* background-color: blanchedalmond; */
    padding: 3.5vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    position: relative;

}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: azure; */
    padding: 2vw;
    color: #F2613F;
}

#overlay1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.3vw;
}

#overlay1 h1{
font-family: monument;
font-size: 3.2vw;
/* mix-blend-mode:hard-light; */
}

#overlay1 h2{
/* font-family: monument;
font-size: 3vw; */
font-size: 2.3vw;
padding: 1.5vw 1.8vw;
border: 2px solid #481E14;
border-right: 4px solid #481E14;
border-radius: 50%;
}

#overlay2 {
    border-top: 2px solid #481E14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7vw 0;
}

#overlay2 img{
    height: 4vw;
}

#overlay2 h4 {
    font-size: 1.7vw;
}

#scroll {
    background-color: #0C0C0C;
    height: 40vh;
    width: 100%;
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll img {
    /* display: none; */
    height: 202px;
    border-radius: 50%;
    width: 202px;
    object-fit: cover;
    object-position: 0% 40%;
    margin: 0 1.5vw;
    margin-left: 1.4vw;
    margin-right: 1.67vw;
}

#scroll img:nth-child(6) {
    object-position: top;
}
#scroll img:nth-child(3) {
    object-position: center;
}
#scroll img:nth-child(2) {
    object-position: 0% 27%;
}
#scroll img:nth-child(5) {
    object-position: 0% 70%;
}

#container{
    height: 100%;
    width: 100%;
    /* background-color: cadetblue; */
    display: inline-block;
    padding: 2vw;
    animation: Scroll-Anime 8s linear 0.3s infinite;
}

@keyframes Scroll-Anime {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#alphabet {
    height: 12vh;
    width: 100%;
    display: flex;
    background-color: #0C0C0C;
    color: #F2613F;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    border-top: 2px solid burlywood; 
    border-bottom: 2px solid burlywood; 
}

#alphabet h5{
    font-size: 1.55vw;
    font-weight: 500;
    border-bottom: 2px solid white;
    font-style: italic;
    letter-spacing: 2.2px;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1.05vw;
    font-weight: 450;
    font-style: italic;
    letter-spacing: 2.2px;
    padding: 0.4vw 0.6vw;
    /* background-color: aqua; */
    border-radius: 50%;
    border: 2px solid rgba(240, 248, 255, 0);
    cursor: pointer;
    transition: all ease 0.5s;
}
#alphabet h6:hover{
    border: 2px solid white;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1 {
    height: 100%;
    width: 50%;
    background: url(https://images.unsplash.com/photo-1529139574466-a303027c1d8b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#page2-part2 {
    height: 100%;
    width: 45%;
}

#page2-part2 img {
    height: 70%;
    width: 90%;
    object-fit: cover;
}

#text-content {
    color: azure;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3.5vh;
}

#text-content h5{
    font-size: 2.35vw;
    line-height: 2.4vw;
    font-weight: 400;
}

#text-content p{
    font-size: 1vw;
    line-height: 1.4vw;
    font-weight: 400;
    margin-right: 3.5vw;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
}

#title{
    height: 10%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    padding-bottom: 5vw;
    padding: 1.7vw;
}

#title h2{
    color: antiquewhite;
    font-family: monument;
    font-size: 2.5vw;
}

#middle {
    height: 85%;
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#left {
    height: 100%;
    width: 40%;
    /* background-color: burlywood; */
    position: relative;
}

#left-top {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    position: relative;
    /* background-color: aqua; */
}

#first-img {
    height: 40%;
    width: auto;
    animation: rotateimg both;
    animation-timeline: view();
}

@keyframes rotateimg {
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(360deg);
    }
}

#second-img {
    position: absolute;
    height: 45px; /* Adjust as needed */
    width: 45px; /* Adjust as needed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to be truly centered */
}

#left-bottom{
    height: calc(100%-80%);
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

#left-bottom h4{
    color: antiquewhite;
    font-size: 1.6vw;
    font-weight: 400;
}

#right{
    height: 100%;
    width: 55%;
    background: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0px -125px;
}

#page4 {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page4 img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    object-position: center;
}

#page5 {
    height: 100%;
    width: 100%;
    background-color: bisque;
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1 {
    margin-bottom: 7vh;
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
}

.elem {
    height: 16vh;
    width: 100%;
    background-color: azure;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: relative;
    animation: blur-anime both;
    animation-timeline: view(60% auto);

}

.elem h4 {
    font-size: 1.2vw;
    /* background-color: antiquewhite; */
    width: 6%;
    text-transform: uppercase;
    font-weight: 500;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem .elem-part2 {
    width: 50%;
}

.elem .elem-part2 h5{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: lighter;
}
.elem .elem-part2 h1{
    font-size: 2.5vw;
}

.elem img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 8%;
    object-fit: cover;
    object-position: 0 25%;
    opacity: 0;
    transition: all ease 0.5s;
}

.elem:nth-child(2n) img{
    left: 43%;
}

.elem:nth-last-child(1) img {
    object-position: top;
}

.elem:hover img{
    opacity: 1;
    left: 24%;
}

.elem:hover {
    background-color: aliceblue;
}

#page6 {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    padding: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page6-left {
    height: 100%;
    width: 40%;
    background-color: aquamarine;
    background: url(https://i.pinimg.com/originals/8b/a9/79/8ba979923adc415c9a6ddfb4244499e1.png);
    background-size: cover;
}

#page6-right{
    height: 100%;
    width: 50%;
    /* background-color: antiquewhite; */
}

#page6-right-top{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2vw;
    color: beige;
}

#page6-right-top h1{
    font-family: monument;
    font-size: 2.5vw;
}
#page6-right-top h4{
    font-family: sans-serif;
    font-size: 1.4vw;
    font-weight: 550;
    line-height: 1.9vw;
}
#page6-right-top p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 1.4vw;
}

#page6-right-bottom {
    height: 50%;
    width: 100%;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page6-right-bottom img{
    height: 100%;
    width: 48%;
    object-fit: cover;
}

#page7 {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    padding: 7vw;
}

#page7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: autoshowanime both;
    animation-timeline: view(80% 5%);
}

@keyframes autoshowanime {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


#page8 {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page8-left {
    height: 100%;
    width: 48%;
    background-color: aquamarine;
    background: url(https://4kwallpapers.com/images/wallpapers/dua-lipa-model-singer-portrait-beautiful-2880x1800-5859.jpg);
    background-size: cover;
    background-position: 69%;
}

#page8-right{
    height: 100%;
    width: 48%;
    /* background-color: antiquewhite; */
    position: relative;
}

#page8-right-top{
    height: 35%;
    width: 100%;
    display: flex;
    color: beige;
    bottom: 0%;
    position: absolute;
    justify-content: space-between;
    align-items: end;
}


#page8-right-top h4{
    font-family: sans-serif;
    font-size: 1.4vw;
    font-weight: 550;
    line-height: 1.9vw;
}
#page8-right-top p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 1.4vw;
    margin-bottom: 3vw;
}

#page8-right-bottom {
    height: 73%;
    width: 100%;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page8-right-bottom img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#marque{
    /* height: 15vh; */
    width: 100%;
    background-color: blanchedalmond;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.7vw;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

#marque h1{
    display: inline-block;
    font-size: 3.5vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    letter-spacing: 0.2vw;
    animation: move 4s linear infinite;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes blur-anime {
    0%{
        filter: blur(20px);
    }
    90%,97% {
        filter: blur(0px);
    }
    100%{
        filter: blur(25px);
    }
}

#page9 {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    padding: 3vw;
}

#page9-container {
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 4.5vw;
    /* align-items: center; */
}

#page9-left h1{
    font-size: 3vw;
    color: antiquewhite;
    animation: autoshowanime both;
    animation-timeline: view(50% 5%);
}

.page9-right {
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.page9-right h4{
    font-size: 1.7vw;
    font-weight: 500;
    color: antiquewhite;
    animation: autoshowanime both;
    animation-timeline: view(70% auto);
}

.page9-right:nth-last-child(1) h4{
    font-size: 1.5vw;
}
.page9-right:nth-last-child(2) img{
    object-position: 20% 40%;
}

.page9-right img{
    margin-top: 3vw;
    height: 80%;
    width: 100%;
    object-fit: cover;
    animation: autoshowanime both;
    animation-timeline: view(70% auto);
}
.page9-right:nth-last-child(1) img{
    margin-top: 4vw;
}

footer {
    width: 100%;
    height: 35vh;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid #f8f8f8;
    display: flex;
    justify-content: space-between;
    color: bisque;
    background-color: #0C0C0C;
    position: relative;
}


footer h1 {
    /* background-color: beige; */
    height: 100%;
    width: 55%;
    font-size: 50px;
    display: flex;
    align-items: start;
    justify-content: start;
    font-family: monument;
    letter-spacing: -1px;
    padding: 2vw;
    position: relative;
}

footer h2 {
    /* background-color: beige; */
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    border-right: 2px solid #f8f8f8;
    padding: 3vw;
}

footer h3:nth-last-child(1){
    position: absolute;
    top:60%;
    left: 66.2%;
    font-weight: 400;
    font-size: 1.1vw;
}

footer h2:nth-last-child(2){
    height: 40%;
    border-bottom: 2px solid #f8f8f8;
    border-right: none;
    width: 100%;
    /* background-color: blanchedalmond; */
}
footer h2:nth-last-child(3){
    width: 45%;
    /* background-color: blanchedalmond; */
}

footer h2:nth-last-child(4){
    width: 35%;
    /* background-color: aquamarine; */
}



footer h1::after {
    content: "©️";
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    right: 7.5%;
    top: 12%;
}

footer h1::before {
    content: "model management";
    font-size: 14px;
    font-weight: 100;
    position: absolute;
    right: 14.6%;
    bottom: 69.7%;
    letter-spacing: 1px;
    font-family: gilroy;

}

#bottomspace{
    height: 5%;
    width: 100%;
    background-color: #0C0C0C;
}

::-webkit-scrollbar{
    display: none;
}

.scroll-watcher {
background-color: #F2613F;
height: 10px;
top: 0;
position: fixed;
z-index: 1000;
width: 100%;
scale: 0 1;
transform-origin: left;
animation: scroll-watcher-animation both linear;
animation-timeline: scroll();
  }  

@keyframes scroll-watcher-animation {
    to{
        scale: 1 1;
    }
}

@media (max-width:600px) {

body{
    overflow-x: hidden;
}

nav {
    height: 8vh;
    margin-top: 20px;
    padding: 0 5vw;
}

nav h1 {
    width: 40%;
    font-size: 24px;
    justify-content: flex-start;
}

nav h2 {
    display: none;
}

nav h1::after {
display: none;
}

nav h1::before {
    display: none;
}

nav h3 {
    display: block;
}

#center {
    height: 45%;
    width: 100%;
    /* background-color: blanchedalmond; */
    padding: 3.5vw 4vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    position: relative;

}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: azure; */
    padding: 2vw;
    color: #F2613F;
}

#overlay1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.3vw;
}

#overlay1 h1{
font-family: monument;
font-size: 5.2vw;
font-weight: 100;
/* mix-blend-mode:hard-light; */
}

#overlay1 h2{
/* font-family: monument;
font-size: 3vw; */
font-size: 3.7vw;
padding: 1.5vw 1.8vw;
border: 1px solid #481E14;
border-right: 2px solid #481E14;
border-radius: 50%;
}

#overlay2 {
    border-top: 2px solid #481E14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7vw 0;
}

#overlay2 img{
    height: 7vw;
}

#overlay2 h4 {
    font-size: 3.7vw;
}


#scroll {
    height: 20vh;
}

#scroll img {
    /* display: none; */
    height: 102px;
    border-radius: 50%;
    width: 102px;
    object-fit: cover;
    object-position: 0% 40%;
    margin: 0 1.5vw;
    margin-left: 1.4vw;
    margin-right: 1.67vw;
}

#container{
    width: fit-content;
    padding: 2vw 1.5vw;
}

#alphabet {
    height: 7vh;
    width: 100%;
    display: flex;
    background-color: #0C0C0C;
    color: #F2613F;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    border-top: 2px solid burlywood; 
    border-bottom: 2px solid burlywood; 
}

#alphabet h5{
    font-size: 3.3vw;
    font-weight: 500;
    border-bottom: 2px solid white;
    font-style: italic;
    letter-spacing: 2px;
    margin-right: 9vw;
}
#alphabet h6{
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5px;
    padding: 0.4vw 0.1vw;
    /* background-color: aqua; */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
}
#alphabet h6:hover{
    border: none;
}

}